<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <script src="https://kit.fontawesome.com/7febf94e83.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="EJSstyles.css">
    </head>
    <body class="landing-up-page" style="background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
    height: 100vh;">
    <header>
      <img src="/images/WebsiteLogo.png" alt="Logo" class="logo">
    </header>


<% if(typeof alert != 'undefined') { %>
    <% alert.forEach(function(error) { %>
      <div class="alertReset">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <p><%= (error.msg); %></p><br>
      </div>
  <% }) %>
<% } %>

<div style="margin-left: 48vw; display: none; margin-top: 24vh" id="expiredLink" class="confirmEmail">
    <p id="resendGoodAlertMessage">This Reset Has Expired</p>
    <i class="fa-solid fa-exclamation"></i>
</div>

<div style="margin-left: 43.5vw; margin-top: 35vh" id="alertPane" class="oldEmailDiv">
  <% if(typeof resendAlert != 'undefined') { %>
    <p id="resendGoodAlertMessage"><%= resendAlert; %></p>
    <i style="color: orange;" class="fa-solid fa-triangle-exclamation fa-xl"></i>
    <i style="position: absolute; color: white; margin-left: 16vw; margin-bottom: 14vh; cursor: pointer;" onclick="closePane()" class="fa-solid fa-xmark"></i>
  <% } %>  
</div>


<div class="flex-reset">
    <form action="/reset" method="POST">
      <fieldset>
        <div class="landing-title">
          <h3>Reset Password</h3>
        </div>
        <div class="flex-username-signin-land">
          <div class="flex-signin-name-land">
            <input type="password" id="logusername" name="Resetpswd" required placeholder="Enter New Password">
          </div>
        </div>

        <div class="flex-password-signin-land">
          <div class="flex-signin-password-land">
            <input type="password" id="logpswd" name="Resetrepswd" required placeholder="Re-Enter Password">
          </div>
        </div>

        <div class="flex-reset-button">
          <button id="submitNewPswd" type="submit">Submit</button>
          <input name="myUUID" id="myEmail" type="hidden" value="<%= myUUID; %>"/>
          <input name="myUUIDtime" id="myUUIDtime" type="hidden" value="<%= myUUIDtime; %>"/>
          <input name="curDtTm" id="curDtTm" type="hidden" value="<%= curDtTm; %>"/>
        </div>
      </fieldset>
    </form>
</div>
  <form action="/resendNewLink" method="POST">
    <fieldset>
      <div id="box-resend-reset" class="box-resend-reset hide-box-resend-reset ">
        <button type="submit">Send New Link</button>
      </div>
      <input type="hidden" id="hashedEmail" name="hashedEmail" value="<%= hashedEmail; %>"/>
      <input name="myUUID" id="myEmail" type="hidden" value="<%= myUUID; %>"/>
      <input name="myUUIDtime" id="myUUIDtime" type="hidden" value="<%= myUUIDtime; %>"/>
      <input name="curDtTm" id="curDtTm" type="hidden" value="<%= curDtTm; %>"/>
    </fieldset>
  </form>


        
        <script src="EJSapp.js" async defer></script>
    </body>

    <script>
      const sentTime = document.getElementById('myUUIDtime').value;
      const curTime = document.getElementById('curDtTm').value;
      const  diff = Math.abs(new Date(sentTime) - new Date(curTime));
      const expiredLink = document.getElementById('expiredLink');
      const pswd = document.getElementById('logusername')
      const repswd = document.getElementById('logpswd');
      const submitPswd = document.getElementById('submitNewPswd');

      console.log(sentTime, curTime, diff)
      const minutes = Math.floor((diff/1000)/60);
      console.log(minutes)

      if (minutes >= 30) {
        expiredLink.style.display = "flex";
        pswd.setAttribute('readonly', 'readonly');
        repswd.setAttribute('readonly', 'readonly');
        submitPswd.setAttribute('disabled', 'disabled')
        const resetLink = document.getElementById('box-resend-reset')
        resetLink.classList.remove('hide-box-resend-reset');
      }

      const alertPane = document.getElementById('alertPane');

      if(alertPane.children[0] == null) {
        alertPane.classList.add('closeEmailDiv');
      }
      

      function closePane() {
        alertPane.classList.add('closeEmailDiv');
      }
    </script>
</html>