<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="/EJSstyles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/7febf94e83.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.js" integrity="sha512-FSNQjUUq97PtDnAJyMlBTH8EhV4o5X5FLVbzS9ttrdEVVbmrssJBh/PgXFQbxS+6yYx5n5irOj7de6Th0TRQZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Home | Buzz</title>
  </head>


  <body>
    <header id="header">
        <%- include('partials/header'); %>  
    </header>


    <div id="activity" class="activityfeed">

      <div id="left" class="left-sidebar">
        <div class="main-links">
          <a href="/signup"><i class="fa-regular fa-pen-to-square"></i>Sign Up / Register!</a>
          <a href="#"><i class="fa-regular fa-newspaper fa-1x"></i>Latest News</a>
          <a style="cursor: pointer;" onclick="openSett()"><i class="fa-solid fa-gear fa-1x"></i>Settings</a>
          <a href="/messages"><i class="fa-solid fa-user-group fa-1x"></i>Friends</a>
          <a href="#"><i class="fa-solid fa-shop fa-1x"></i>Buzz Market</a>
          <a href="#">See More</a>
        </div>

        <div class="subMenuWrap-sett close-menu-sett" id="subMenuSett">
          <div class="subMenuSett">
            <div class="sett-sections">
              <div class="tabs">
                <div id="vertical-line" class="vertical-line"></div>
                <div id="tab1" class="tab1">
                  <h3>General</h3>
                </div>
                <div id="tab2" class="tab2">
                  <h3>Notifications</h3>
                </div>
                <div id="tab3" class="tab3">
                  <h3>Profile</h3>
                </div>
                <div id="tab4" class="tab4">
                  <h3>Theme</h3>
                </div>
                <div id="tab5" class="tab5">
                  <h3>Privacy</h3>
                </div>
              </div>
              <div class="setts">
                <div class="exit-setts">
                  <a onclick="closeSetts()" style="color: #3f90e8; padding-top: 1vh; position: absolute; cursor: pointer; margin-left: 27vw;"><i id="exitSetts" class="fa-solid fa-x"></i></a>
                </div>
                <div id="setts-gen" class="setts-gen">
                  <p>test</p>
                </div>
                <div id="setts-noti" class="setts-noti">
                  <p>Emails</p>
                  <p>SMS</p>
                  <p>Updates</p>
                </div>
                <div id="setts-prof" class="setts-prof">
                  <p>Profile Image</p>
                  <p>Username</p>
                  <p>Password</p>
                </div>
                <div id="setts-theme" class="setts-theme">
                  <p>display:</p>
                  <i class="fa-solid fa-moon fa"></i>
                  <i class="fa-solid fa-sun fa"></i>
                </div>
                <div id="setts-priv" class="setts-priv">
                  <p>test</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="shortcuts-header">
          <p>Shortcuts</p>
        </div>
        <div class="shortcuts">
          <a href="#"><img src="images/shortcut-1.png">Software Development</a>
          <a href="#"><img src="images/shortcut-2.png">Animal Awareness</a>
          <a href="#"><img src="images/shortcut-3.png">Travel Now!</a>
        </div>
      </div>

      <div id="main" class="main-feed">
        <div class="create-post-back">
          <div class="create-post">
            <div class="main-sub-title">
              <h4>Create Post</h4>
            </div>
          </div>

          <div class="write-post-container">
            <div class="profile-icon">
              <img src="images/userIcon.png">
              <div>
                <% if(typeof idUsername != 'undefined') { %>
                  <p><%= idUsername; %></p>
                <% } %>
                <small>Public<i class="fa-solid fa-caret-down"></i></small>
              </div>
            </div>

            <form action="/userPost" method="POST">
              <fieldset>
                <div class="input-post">
                  <textarea rows="3" id="createNewPost" name="createNewPost" placeholder="What's New?"></textarea>
                </div>

                <div class="my-post-icons">
                  <div class="share-attach-icons" style="display: inline-flex;">
                    <a href="#" class="attach-icon"><i class="fa-solid fa-paperclip"></i></a>
                    <button type="submit" class="post-icon"><p>Post</p>&nbsp;&nbsp;<i style="padding-top: .7vh;" class="fa-solid fa-square-check"></i></button>
                  </div>
                </div>
              </fieldset>
            </form>

          </div>
        </div>

        <div id="listPosts">
          <% if(typeof renPosts != 'undefined') { %>
            <% renPosts.forEach(function(renPost) { %>
            <div class="main-feed-post">
              <div class="posters-info">
                <div  class="profile-icon">
                  <a href="http://localhost:8080/seeFriend?viewFriend=<%= renPost.postIdNum %>"><img src="images/userIcon.png"></a>
                  <div>
                    <input value="<%= (renPost.conf); %>" type="hidden"/>
                    <a href="http://localhost:8080/seeFriend?viewFriend=<%= renPost.postIdNum %>"><p><%= (renPost.curUsnm); %></p></a>
                  </div>
                  <input id="postID" value="<%= (renPost.postID); %>" type="hidden"/>
                </div>
              </div>
              <div class="post-divider"></div>
              <div class="userPostBox">
                  
                    
  
                     
                        <div class="userPost">
                          <p><%= (renPost.cmt); %></p><br>
                        </div>
                    
                
              </div>
              <div class="like-dislike-comment">
                <a href="#"class="share-icon"><i class="fa-solid fa-arrow-trend-up"></i></i></a>
                <a id="comment" onclick="messageThread()" class="comment"><i class="fa-regular fa-comment"></i></a>  
                <a id="up" onclick="likePost('<%= (renPost.postID); %>')" class="thumbs-up"><i class="fa-regular fa-thumbs-up"></i></a>
                <div id="numberLikes" class="numberLikes">
                  <div class="like-circle">
                      <div class="like-amount">
                          <p id="likes-<%= (renPost.postID); %>" style="font-size: x-small; color: #fff; padding: .13em;"><%= renPost.likes %></p>
                      </div>
                    </div>
                </div>
                <a id="down" onclick="dislikePost('<%= (renPost.postID); %>')" class="thumbs-down"><i class="fa-regular fa-thumbs-down"></i></a>
                <div id="numberLikes" class="numberDislikes">
                  <div class="like-circle">
                      <div class="like-amount">
                        <p id="dislikes-<%= (renPost.postID); %>" style="font-size: x-small; color: #fff; padding: .13em;"><%= renPost.dislikes %></p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <% }) %>
          <% } %>
        </div>

      </div>
      
      <div id="right" class="right-sidebar">
        <div class="section-title">
          <h3>Activity</h3>
        </div>

        <div class="sub-title">
          <h4>Friends</h4>
          <a href="/messages">See All</a>
        </div>
        
        <div id="friendSection" class="friend-section" style="overflow-y: scroll; height: 25vh;">
          <% if(typeof friendName != 'undefined') { %>
            <% for(let i =0; i<friendName.length; i++) { %>
              <div class="online-contacts" style="margin-bottom: -16vh; margin-top: -11vh;">
                <div class="online-friend">
                  <a id="imgA" href="http://localhost:8080/seeFriend?viewFriend=<%= friendId[i] %>" onclick="seeFriend('<%= friendId[i] %>')" style="padding-top: .3em; height: 5px;"><div id="seeFriendImg" class="online">
                    <img src="images/userIcon.png">
                  </div></a>
                  <a id="textA" href="http://localhost:8080/seeFriend?viewFriend=<%= friendId[i] %>" onclick="seeFriend('<%= friendId[i] %>')" style="height: 15px; padding-top: .3em; cursor: pointer;
                    color: #000;
                    font-size: medium;"><p id="seeFriendText"><%= (friendName[i]); %></p></a>
                  <input id="friendID" type="hidden" value="<%= friendId[i] %>"/>
                </div>
              </div>
              <% } %>
          <% } %>
        </div>

        <!-- <div class="online-contacts">
          <div class="online">
            <img src="images/contact-2.png">
          </div>
          <p>Jim Carrol</p>
        </div>

        <div class="online-contacts">
          <div class="online">
            <img src="images/contact-3.png">
          </div>
          <p>Kevin Bennet</p>
        </div> -->

        <div class="sub-title">
          <h4>Buzz Market</h4>
          <a href="#">See All</a>
        </div>
        
          <div class="thumbTiles swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div id="swiper" class="swiper-slide">
              <div class="ad-1">
                <img src="images/bike-for-sale.png">
                <h3>Blue Mountain Bike <i>$200.00</i></h3>
              </div>
            </div>
            <div id="swiper" class="swiper-slide">
              <div class="ad-2">
                <img src="images/ad-2.png">
                <h3>Angleton Sofa Sandstone <i>$350.00</i></h3>
              </div>
            </div>
            <div id="swiper" class="swiper-slide">
              <div class="ad-3">
                <img src="images/ad-3.png">
                <h3>Logitech Mouse <i>$59.99</i></h3>
              </div>
            </div>
            </div>
        
            <!-- If we need navigation buttons -->
            <div id="prev" class="swiper-button-prev"></div>
            <div id="next" class="swiper-button-next"></div>
        
        </div>
          <!-- <div class="ad-1">
            <img src="images/bike-for-sale.png">
            <h3>Blue Mountain Bike <i>$200.00</i></h3>
          </div>
          <div class="ad-2">
            <img src="images/ad-2.png">
            <h3>Angleton Sofa Sandstone <i>$350.00</i></h3>
          </div>
          <div class="ad-3">
            <img src="images/ad-3.png">
            <h3>Logitech Mouse <i>$59.99</i></h3>
          </div> -->


      </div>

      <!-- <div class="subMenuWrap-Thread close-menu-thread" id="subMenuThread">
        <div class="subMenuThread">
          <div class="thread-container">

          </div>
        </div>
      </div> -->
      <div style="position: fixed;" id="sideThread" class="sideThread hiddenThread">
        <div id="innerThread" class="sideThread">
            <div class="thread-title">
              <p>Message Thread</p>
            </div>
            <div class="message-box">

              <div class="message-input">
                <input id="threadText" type="text" placeholder="What's up?"/>
                <button onclick="postThread(document.getElementById('threadText').value)"><i class="fa-solid fa-arrow-up"></i></button>
              </div>
            </div>
        </div>
    </div>

    <!-- <div style="position: fixed;" id="sideNav" class="sideNav hiddenNavbar">
      <div class="sideHome">
          <ul>
              <li><a onclick="viewHome()"><i class="fa-solid fa-house fa-lg"></i></a></li>
              <li><a onclick="viewProjects()"><i class="fa-solid fa-diagram-project fa-lg"></i></a></li>
              <li><a onclick="viewContact()"><i class="fa-solid fa-message fa-lg"></i></a></li>
          </ul>
      </div>
  </div> -->
      
    </div>

  </body>


  <script src="EJSapp.js"></script>

  <style>
    .swiper-button-prev, .swiper-button-next {
    height: 100%;
    width: 4%;
    top: 0;
    bottom: 0;
    margin: 0;
}
  </style>

  <script>

const swiper = new Swiper('.swiper', {
    // Optional parameters
    spaceBetween: 15,
    slidesPerView: 1,
    loop: true,
    freemode: true,
    speed: 1000,
  
    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

    
    const listPosts = document.getElementById('listPosts');

    //  for (i=0; i < listPosts.childElementCount; i++) {
    //         // console.log(listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML);
    //         const postID = listPosts.children[i].children[0].children[0].children[2].value;
    //         const what = listPosts.children[i].children[3].children[2];
    //         // var numOfLikes = listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0];

    //         listPosts.children[i].children[3].children[2].onclick = () => {
    //           const xhr = new XMLHttpRequest();
    //           xhr.open('GET', `http://localhost:8080/postReaction?like=` + 1 + `&likedPostID=` + postID, true);

    //         xhr.onreadystatechange = function() {
    //           if(xhr.readyState === 4 && xhr.status === 200) {
    //             listPosts.innerHTML = xhr.responseText;
    //             console.log(listPosts);
    //             // console.log(numOfLikes);
    //             console.log(what);
    //             console.log(postID);
    //             console.log(xhr.responseText);
    //             }
              
    //           }
    //           xhr.send();
    //         }
    //       }
      
    function likePost(data) {
      const likes = document.getElementById('likes-'+data);
      console.log(data);
      // const like = document.getElementById('up');
      const xhr = new XMLHttpRequest();
      // const postID = document.getElementById('postID');
      // const numOfLikes = document.getElementById('numberLikes');

      xhr.open('GET', `http://localhost:8080/likePost?like=` + 1 + `&likedPostID=` + data, true);

      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
          

          console.log(listPosts);
          console.log(likes);



          // for (i=0; i < listPosts.childElementCount; i++) {
          //   console.log(listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML);

          //   listPosts.children[i].children[3].children[2].onclick = () => {
          //     listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML = xhr.responseText
          //   }
            
          // }

          likes.innerHTML = xhr.responseText;
        }
      }
      xhr.send();
    }

    function dislikePost(data) {
      const dislikes = document.getElementById('dislikes-'+data);
      console.log(data);
      // const like = document.getElementById('up');
      const xhr = new XMLHttpRequest();
      // const postID = document.getElementById('postID');
      // const numOfLikes = document.getElementById('numberLikes');

      xhr.open('GET', `http://localhost:8080/dislikePost?like=` + 1 + `&likedPostID=` + data, true);

      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
          

          console.log(listPosts);
          console.log(dislikes);



          // for (i=0; i < listPosts.childElementCount; i++) {
          //   console.log(listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML);

          //   listPosts.children[i].children[3].children[2].onclick = () => {
          //     listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML = xhr.responseText
          //   }
            
          // }

          dislikes.innerHTML = xhr.responseText;
        }
      }
      xhr.send();
    }

    const sett = document.getElementById('subMenuSett');
    const notis = document.getElementById('subMenuNotis');

    function openSett() {
      if (sett.classList.contains("open-menu-sett")) {
        sett.classList.remove("open-menu-sett");
        sett.classList.add("close-menu-sett");
    } else {
      sett.classList.remove("close-menu-sett");
      sett.classList.add("open-menu-sett");
      notis.classList.remove("open-menu-notis");
      sett1.style.display = 'block';
      sett2.style.display = 'none';
      sett3.style.display = 'none';
      sett4.style.display = 'none';
      sett5.style.display = 'none';
      anime({
      targets: '#vertical-line',
      translateY: 0,
      easing: 'linear',
      duration: 150
    });
    }
    }

    const vert = document.getElementById('vertical-line');
    const tab1 = document.getElementById('tab1');
    const tab2 = document.getElementById('tab2');
    const tab3 = document.getElementById('tab3');
    const tab4 = document.getElementById('tab4');
    const tab5 = document.getElementById('tab5');

    const sett1 = document.getElementById('setts-gen');
    const sett2 = document.getElementById('setts-noti');
    const sett3 = document.getElementById('setts-prof');
    const sett4 = document.getElementById('setts-theme');
    const sett5 = document.getElementById('setts-priv');

    tab1.onclick = () => {
      console.log(tab1.getBoundingClientRect());
          anime({
      targets: '#vertical-line',
      translateY: 0,
      easing: 'linear',
      duration: 150
    });
    sett1.style.display = 'block';
    sett2.style.display = 'none';
    sett3.style.display = 'none';
    sett4.style.display = 'none';
    sett5.style.display = 'none';
    }
    tab2.onclick = () => {
      console.log(tab2.getBoundingClientRect());
          anime({
      targets: '#vertical-line',
      translateY: 136,
      easing: 'linear',
      duration: 150
    });
    sett2.style.display = 'block';
    sett1.style.display = 'none';
    sett3.style.display = 'none';
    sett4.style.display = 'none';
    sett5.style.display = 'none';
    }
    tab3.onclick = () => {
      console.log(tab3.getBoundingClientRect());
          anime({
      targets: '#vertical-line',
      translateY: 272,
      easing: 'linear',
      duration: 150
    });
    sett3.style.display = 'block';
    sett1.style.display = 'none';
    sett2.style.display = 'none';
    sett4.style.display = 'none';
    sett5.style.display = 'none';
    }
    tab4.onclick = () => {
      console.log(tab4.getBoundingClientRect());
          anime({
      targets: '#vertical-line',
      translateY: 410,
      easing: 'linear',
      duration: 150
    });
    sett4.style.display = 'block';
    sett1.style.display = 'none';
    sett2.style.display = 'none';
    sett3.style.display = 'none';
    sett5.style.display = 'none';
    }
    tab5.onclick = () => {
      console.log(tab5.getBoundingClientRect());
          anime({
      targets: '#vertical-line',
      translateY: 546,
      easing: 'linear',
      duration: 150
    });
    sett5.style.display = 'block';
    sett1.style.display = 'none';
    sett2.style.display = 'none';
    sett3.style.display = 'none';
    sett4.style.display = 'none';
    }

    function closeSetts() {
      if (sett.classList.contains("open-menu-sett")) {
        sett.classList.remove("open-menu-sett");
        sett.classList.add("close-menu-sett");
    } else {
      sett.classList.remove("close-menu-sett");
      sett.classList.add("open-menu-sett");
    }
    }

    const comment = document.getElementById('comment');
    const sideThread = document.getElementById('sideThread');
    const innerThread = document.getElementById('innerThread');
    // const sideNav = document.getElementById('sideNav');

    function messageThread() {
    if (sideThread.classList.contains('hiddenThread')) {
      sideThread.classList.remove('hiddenThread');
      sideThread.classList.add('showThread');
    } else {
      sideThread.classList.add('hiddenThread');
      sideThread.classList.remove('showThread');
    }

    // if (sideNav.classList.contains('hiddenNavbar')) {
    //     sideNav.classList.remove('hiddenNavbar');
    //     sideNav.classList.add('showNavbar');
    // } else {
    //     sideNav.classList.add('hiddenNavbar');
    //     sideNav.classList.remove('showNavbar');
    // }
}

const left = document.getElementById('left');
left.onclick = function(e) {
  if(!innerThread.contains(e.target)){
      sideThread.classList.add('hiddenThread');
      sideThread.classList.remove('showThread');
  }
}

const main = document.getElementById('left');
main.onclick = function(e) {
  if(!innerThread.contains(e.target)){
      sideThread.classList.add('hiddenThread');
      sideThread.classList.remove('showThread');
  }
}

const right = document.getElementById('right');
right.onclick = function(e) {
  if(!innerThread.contains(e.target)){
      sideThread.classList.add('hiddenThread');
      sideThread.classList.remove('showThread');
  }
}

const activity = document.getElementById('activity');
activity.onclick = function(e) {
  if(activity = e.target){
      sideThread.classList.add('hiddenThread');
      sideThread.classList.remove('showThread');
  }
}

const header = document.getElementById('header');
header.onclick = function(e) {
  if(!innerThread.contains(e.target)){
      sideThread.classList.add('hiddenThread');
      sideThread.classList.remove('showThread');
  }
}

// window.onclick = (event) => {
//   if(!event.target.matches(comment)) {
//     if(sideThread.classList.contains("showThread")) {
//       sideThread.classList.remove("showThread");
//       sideThread.classList.add("hiddenThread");
//     }
//   }
// }

    function postThread(data) {

      const xhr = new XMLHttpRequest();

      xhr.open('GET', `http://localhost:8080/messageThread?threadMessage=` + data, true);

        xhr.onreadystatechange = function() {
          if(xhr.readyState === 4 && xhr.status === 200) {
            
            console.log('working');
            // dislikes.innerHTML = xhr.responseText;
          }
        }
        xhr.send();
    }

    
  </script>

</html>