<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/EJSstyles.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/7febf94e83.js" crossorigin="anonymous"></script>
    <title>Home | Buzz</title>
  </head>


  <body>
    <header>
        <%- include('partials/header'); %>  
    </header>


    <div class="activityfeed">

      <div class="left-sidebar">
        <div class="main-links">
          <a href="/signup"><i class="fa-regular fa-pen-to-square"></i>Sign Up / Register!</a>
          <a href="#"><i class="fa-regular fa-newspaper fa-1x"></i>Latest News</a>
          <a href="#"><i class="fa-solid fa-gear fa-1x"></i>Settings</a>
          <a href="#"><i class="fa-solid fa-user-group fa-1x"></i>Friends</a>
          <a href="#"><i class="fa-solid fa-shop fa-1x"></i>Buzz Market</a>
          <a href="#">See More</a>
        </div>

        <div class="shortcuts-header">
          <p>Shortcuts</p>
        </div>
        <div class="shortcuts">
          <a href="#"><img src="images/shortcut-1.png">Software Development</a>
          <a href="#"><img src="images/shortcut-2.png">Animal Awareness</a>
          <a href="#"><img src="images/shortcut-3.png">Travel Now!</a>
        </div>
      </div>

      <div class="main-feed">
        <div class="create-post-back">
          <div class="create-post">
            <div class="main-sub-title">
              <h4>Create Post</h4>
            </div>
          </div>

          <div class="write-post-container">
            <div class="profile-icon">
              <img src="images/userIcon.png">
              <div>
                <% if(typeof idUsername != 'undefined') { %>
                  <p><%= idUsername; %></p>
                <% } %>
                <small>Public<i class="fa-solid fa-caret-down"></i></small>
              </div>
            </div>

            <form action="/userPost" method="POST">
              <fieldset>
                <div class="input-post">
                  <textarea rows="3" id="createNewPost" name="createNewPost" placeholder="What's New?"></textarea>
                </div>

                <div class="my-post-icons">
                  <div class="share-attach-icons" style="display: inline-flex;">
                    <a href="#" class="attach-icon"><i class="fa-solid fa-paperclip"></i></a>
                    <button type="submit" class="post-icon"><p>Post</p>&nbsp;&nbsp;<i class="fa-solid fa-square-check"></i></button>
                  </div>
                </div>
              </fieldset>
            </form>

          </div>
        </div>

        <div id="listPosts">
          <% if(typeof renPosts != 'undefined') { %>
            <% renPosts.forEach(function(renPost) { %>
            <div class="main-feed-post">
              <div class="posters-info">
                <div  class="profile-icon">
                  <a href="http://localhost:8080/seeFriend?viewFriend=<%= friendId %>"><img src="images/userIcon.png"></a>
                  <div>
                    <input value="<%= (renPost.conf); %>" type="hidden"/>
                    <a href="http://localhost:8080/seeFriend?viewFriend=<%= friendId %>"><p><%= (renPost.curUsnm); %></p></a>
                  </div>
                  <input id="postID" value="<%= (renPost.postID); %>" type="hidden"/>
                </div>
              </div>
              <div class="post-divider"></div>
              <div class="userPostBox">
                  
                    
  
                     
                        <div class="userPost">
                          <p><%= (renPost.cmt); %></p><br>
                        </div>
                    
                
              </div>
              <div class="like-dislike-comment">
                <a href="#"class="share-icon"><i class="fa-solid fa-arrow-trend-up"></i></i></a>
                <a href="#" class="comment"><i class="fa-regular fa-comment"></i></a>  
                <a id="up" onclick="likePost('<%= (renPost.postID); %>')" class="thumbs-up"><i class="fa-regular fa-thumbs-up"></i></a>
                <div id="numberLikes" class="numberLikes">
                  <div class="like-circle">
                      <div class="like-amount">
                          <p id="likes-<%= (renPost.postID); %>" style="font-size: x-small; color: #fff; padding: .13em;"><%= renPost.likes %></p>
                      </div>
                    </div>
                </div>
                <a id="down" onclick="dislikePost('<%= (renPost.postID); %>')" class="thumbs-down"><i class="fa-regular fa-thumbs-down"></i></a>
                <div id="numberLikes" class="numberDislikes">
                  <div class="like-circle">
                      <div class="like-amount">
                        <p id="dislikes-<%= (renPost.postID); %>" style="font-size: x-small; color: #fff; padding: .13em;"><%= renPost.dislikes %></p>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <% }) %>
          <% } %>
        </div>

      </div>
      
      <div class="right-sidebar">
        <div class="section-title">
          <h3>Activity</h3>
        </div>

        <div class="sub-title">
          <h4>Friends</h4>
          <a href="#">See All</a>
        </div>
        
        <div id="friendSection" class="friend-section" style="overflow-y: scroll; height: 25vh;">
          <% if(typeof friendName != 'undefined') { %>
            <% for(let i =0; i<friendName.length; i++) { %>
              <div class="online-contacts" style="margin-bottom: -16vh; margin-top: -11vh;">
                <div class="online-friend">
                  <a id="imgA" href="http://localhost:8080/seeFriend?viewFriend=<%= friendId[i] %>" onclick="seeFriend('<%= friendId[i] %>')" style="padding-top: .3em; height: 5px;"><div id="seeFriendImg" class="online">
                    <img src="images/userIcon.png">
                  </div></a>
                  <a id="textA" href="http://localhost:8080/seeFriend?viewFriend=<%= friendId[i] %>" onclick="seeFriend('<%= friendId[i] %>')" style="height: 15px; padding-top: .3em; cursor: pointer;
                    color: #000;
                    font-size: medium;"><p id="seeFriendText"><%= (friendName[i]); %></p></a>
                  <input id="friendID" type="hidden" value="<%= friendId[i] %>"/>
                </div>
              </div>
              <% } %>
          <% } %>
        </div>

        <!-- <div class="online-contacts">
          <div class="online">
            <img src="images/contact-2.png">
          </div>
          <p>Jim Carrol</p>
        </div>

        <div class="online-contacts">
          <div class="online">
            <img src="images/contact-3.png">
          </div>
          <p>Kevin Bennet</p>
        </div> -->

        <div class="sub-title">
          <h4>Buzz Market</h4>
          <a href="#">See All</a>
        </div>
        
        <div class="advertisement">
          <div class="ad-1">
            <img src="images/bike-for-sale.png">
            <h3>Blue Mountain Bike <i>$200.00</i></h3>
          </div>
          <div class="ad-2">
            <img src="images/ad-2.png">
            <h3>Angleton Sofa Sandstone <i>$350.00</i></h3>
          </div>
          <div class="ad-3">
            <img src="images/ad-3.png">
            <h3>Logitech Mouse <i>$59.99</i></h3>
          </div>
        </div>


      </div>
      
    </div>

  </body>


  <script src="EJSapp.js"></script>

  <script>

    
    const listPosts = document.getElementById('listPosts');

    //  for (i=0; i < listPosts.childElementCount; i++) {
    //         // console.log(listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML);
    //         const postID = listPosts.children[i].children[0].children[0].children[2].value;
    //         const what = listPosts.children[i].children[3].children[2];
    //         // var numOfLikes = listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0];

    //         listPosts.children[i].children[3].children[2].onclick = () => {
    //           const xhr = new XMLHttpRequest();
    //           xhr.open('GET', `http://localhost:8080/postReaction?like=` + 1 + `&likedPostID=` + postID, true);

    //         xhr.onreadystatechange = function() {
    //           if(xhr.readyState === 4 && xhr.status === 200) {
    //             listPosts.innerHTML = xhr.responseText;
    //             console.log(listPosts);
    //             // console.log(numOfLikes);
    //             console.log(what);
    //             console.log(postID);
    //             console.log(xhr.responseText);
    //             }
              
    //           }
    //           xhr.send();
    //         }
    //       }
      
    function likePost(data) {
      const likes = document.getElementById('likes-'+data);
      console.log(data);
      // const like = document.getElementById('up');
      const xhr = new XMLHttpRequest();
      // const postID = document.getElementById('postID');
      // const numOfLikes = document.getElementById('numberLikes');

      xhr.open('GET', `http://localhost:8080/likePost?like=` + 1 + `&likedPostID=` + data, true);

      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
          

          console.log(listPosts);
          console.log(likes);



          // for (i=0; i < listPosts.childElementCount; i++) {
          //   console.log(listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML);

          //   listPosts.children[i].children[3].children[2].onclick = () => {
          //     listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML = xhr.responseText
          //   }
            
          // }

          likes.innerHTML = xhr.responseText;
        }
      }
      xhr.send();
    }

    function dislikePost(data) {
      const dislikes = document.getElementById('dislikes-'+data);
      console.log(data);
      // const like = document.getElementById('up');
      const xhr = new XMLHttpRequest();
      // const postID = document.getElementById('postID');
      // const numOfLikes = document.getElementById('numberLikes');

      xhr.open('GET', `http://localhost:8080/dislikePost?like=` + 1 + `&likedPostID=` + data, true);

      xhr.onreadystatechange = function() {
        if(xhr.readyState === 4 && xhr.status === 200) {
          

          console.log(listPosts);
          console.log(dislikes);



          // for (i=0; i < listPosts.childElementCount; i++) {
          //   console.log(listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML);

          //   listPosts.children[i].children[3].children[2].onclick = () => {
          //     listPosts.children[i].children[3].children[2].children[1].children[0].children[0].children[0].innerHTML = xhr.responseText
          //   }
            
          // }

          dislikes.innerHTML = xhr.responseText;
        }
      }
      xhr.send();
    }
  </script>

</html>